.albums-container {
  
  position: relative;
  overflow: auto;
  min-height: calc(100vh - 130px);

  
  ul {
    max-width: 920px;
    margin: 0 auto;
    &.album-navigation {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  
      padding: 0 10px;
      margin: 0 auto 70px;

      @media screen and (min-width: 768px) {
        padding: 0 20px;
        margin: 40px auto 0;
        flex-wrap: nowrap;
      }
  
      li {
        padding: 10px;
        cursor: pointer;
        width: 50%;
        
        @media screen and (min-width: 768px) {
          width: 33.333%;
          padding: 20px;
          width: auto;
        }
        
        img {
          width: 100%;
        }
      }
    }
  }
}

.album-text-box {
  background: $fuse-blue-dark;
}

.album-text-container {
  // background-color: $fuse-blue-dark;
  padding-bottom: 10rem;
  // background-image: url('images/bg-album-text.svg');
  // background-size: 100% auto;
  // background-repeat: no-repeat;

  // margin-top: 15%;

  // @media (min-width: 768px) {
  //   margin-top: 5%;
  // }

  .fuse-text {
    color: #fff;
    padding-top: 5%;
    // background: #fff;
    font-size: 1rem;

    @media (min-width: 768px) {
      padding-top: 0;
    }
  }
}

#album-text-clipper {
  overflow-y: hidden;
  // margin-top: -100px;
}


ul.album-features {
  margin-top: 3rem;
  font-weight: 600;
  letter-spacing: 0.05em;

  li {
    margin-bottom: .8rem;
  }
}