.albums-container {
  
  position: relative;
  
  ul {
    max-width: 920px;
    margin: 0 auto;
    &.album-navigation {
      display: flex;
  
      padding: 0 20px;
      margin: 0 auto 70px;
  
      li {
        padding: 20px;
        cursor: pointer;
        img {
          width: 100%;
        }
      }
    }
  }
}

.album-text-container {
  background-color: #fff;
  padding-bottom: 10rem;
  background-image: url('images/bg-album-text.svg');
  background-size: 100% auto;
  background-repeat: no-repeat;

  .fuse-text {
    color: #000;
    padding-top: 150px;
  }
}

#album-text-clipper {
  overflow-y: hidden;
  margin-top: -100px;
}