.album-details-page {
  background-color: $white;
  width: 100vw;
  min-height: 100vh;
  color: $black;
  padding: 1rem 0 5rem;
  text-align: center;
  overflow-x: hidden;
  position: relative;

  h1 {
    margin-top: 3rem;
  }
  h1,
  h2 {

    font-size: 4rem;

    color: $black;
    display: block;
    transform: scaleX(1.6);

    @media screen and (min-width: 768px) {
      font-size: 4rem;
    }
  }
}

.album-details-player-instruction {
  color: #9e9e9e;
  font-size: 0.8rem;
  padding-top: 2rem;
  margin-bottom: 3rem;
  &.no-preview {
    font-weight: 600;
    margin: 1rem 1rem 2rem;
    font-size: 0.8rem;
    display: inline-block;
    padding: 0.8rem 1.2rem;
    color: #0A3D76;// $fuse-blue-dark;
    // border: solid 2px $fuse-blue-dark;
    background-color: #efefef;

    // @media screen and (min-width: 768px) {
    //   font-size: 1.1rem;
    // }
  }

}

.fuse-artwork {
  max-width: 420px;
  margin: 1rem auto;
  padding: 0 20px;
  // clip-path: inset(40%);

  img {
    width: 100%;
  }
}

.fuse-tracklist {
  font-family: $font-fuse;
  font-size: 3rem;
  line-height: 0.8em;
  text-transform: lowercase;
  letter-spacing: 0.02em;
  margin: 1.4rem auto 3rem;
  max-width: 1024px;

  &-meta {
    font-size: 1.5rem;
  }


  @media screen and (min-width: 768px) {
    font-size: 4rem;
  }

  li {
    transform: scaleX(1.6);
    margin: .7rem 2rem;
    // width: 100%;

    @media screen and (min-width: 768px) {
      margin: 1rem 4rem;
      width: auto;
    }
  }

  li.preview {
    cursor: pointer;
  }
}

.fuse-album-info {
  white-space: pre-line;
  text-align: justify;
  max-width: 620px;
  padding: 0 20px;
  
  margin: 0 auto;
}

.go-back {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 1000;
}

.fuse-button-container {
  max-width: 420px;
  margin: 3rem auto;
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 50;
}