.album-details-page {

  padding: 1rem 0 5rem;
  text-align: center;
  position: relative;


  h1 {
    margin-top: 3rem;
  }
  h1,
  h2 {

    font-size: 4rem;

    color: $black;
    display: block;
    transform: scaleX(1.6);

    @media screen and (min-width: 768px) {
      font-size: 4rem;
    }
  }

  .yellow-bar {
    transform: scaleY(-1) scaleX(-1);
    @media screen and (min-width: 768px) {
      margin-top: -60px;
    }
  }
}

.album-details-player-instruction {
  font-size: 0.8rem;
  padding-top: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  &.no-preview {
    margin: 3rem 1rem 0;
    font-size: 0.8rem;
    display: inline-block;
    padding: 0.8rem 1.2rem;
  }

}

.fuse-artwork {
  max-width: 420px;
  margin: 2rem auto;
  padding: 0 20px;
  z-index: 10;
  // clip-path: inset(40%);

  img {
    width: 100%;
  }
}

.fuse-tracklist {
  font-family: $font-fuse;
  font-size: 2rem;
  line-height: 0.8em;
  text-transform: lowercase;
  letter-spacing: 0.02em;
  margin: 1.4rem auto 3rem;
  max-width: 1024px;
  overflow-x: hidden;

  
  &-meta {
    font-size: 1.5rem;
  }
  
  
  @media screen and (min-width: 768px) {
    // column-count: 2;
    font-size: 2.5rem;
  }

  li {
    transform: scaleX(1.6);
    margin: .7rem 2rem;
    // text-align: left;
    // width: 100%;
    overflow-y: hidden;

    &:first-child {
      margin-top: 0;
    }

    @media screen and (min-width: 768px) {
      margin: 1rem 4rem;
      width: auto;
    }
  }

  li.preview {
    cursor: pointer;
  }
}

.fuse-album-info {
  white-space: pre-line;
  text-align: justify;
  max-width: 680px;
  padding: 0 20px;

  margin: 0 auto 0;

  &-container-blue-dark {
    padding-top: 2rem;
    background-color: $fuse-blue-dark; 
  }
}

.go-back {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 1000;

  a {
    
    > div {
      width: 22px;
      height: 22px;
      background-color: white;

      @media screen and (min-width: 768px) {
        width: 15px;
        height: 15px;
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
    li {
      margin-right: 10px;
      &.active {
        pointer-events: none;
        opacity: 0.2;
      }
    }
  }

}

.fuse-button-container {
  max-width: 420px;
  // margin: 1rem;
  // display: flex;
  // justify-content: space-around;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;


}