.homepage-block {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
  
  @media screen and (min-width: 768px) {
    // display: flex;
    // height: 100vh;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
  }

  // .fuse-header {
  //   @media screen and (min-width: 768px) {
  //     margin-top: -120px;
  //   }
  // }
}

.listen-and-preview-container {
  display: flex;
  justify-content: space-around;
}

.listen-preview-button {
  color: $fuse-blue-dark;
  background-color: white;
  display: inline-block;
  margin: 2rem auto 1rem;
  text-align: center;
  padding: 1rem 1.2rem;
  font-weight: 600;
  transition: all .2s ease-out;

  &:hover {
    color: black;
    background-color: $fuse-yellow;
  }
}

.fuse-quote-rotation {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 1rem;
  ul {
    position: relative;
    li {
      position: absolute;
      top: 0;
      opacity: 0;
      p {
        font-size: 0.75rem;
        text-align: center;
      }
      q {
        font-size: 0.875rem;
        display: block;
      }
    }
  }
}

.fuse-header {

  margin-top: 1rem;
  
  a {
    display: inline-block;
    
    h2 {
      margin: rem auto;
      line-height: 1.1em;
    }
  }
}