.fuse-title {
  display: block;
  z-index: 200;
  line-height: 0;
  text-align: center;
  margin-top: 60px;
  // &-fuse {
  //   height: 120px;
  // }
  
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }

  &-container {
    max-width: 120px;
    margin: 0 auto;
    
    @media screen and (min-width: 768px) {
      max-width: 140px;
    }

    @media screen and (min-width: 1140px) {
      max-width: 160px;
    }
  }

  &-block {
    margin: 1rem 0;
  }
  span {
    display: block;
    img {
      width: 100%;
    }
  }

  a {
    display: block;
  }
}