.icon-button {
  display: inline-block;
  background-color: $fuse-blue-light;
  padding: .5rem 1rem;
  font-size: .8rem;
  // border: solid 3px white;

  // width: 160px;
  text-align: center;

  transition: all 0.2s ease-out;
  
  &:hover {
    background: white;
    color: $fuse-blue-dark;
  }


  &-container {
    display: flex;
    align-items: center;
  }

  &-text {
    margin-left: 0.5rem;
  }


  span {
    display: inline-block;
  }
}

.fuse-button-container.album-page {
  .icon-button {
    background-color: white;
    color: $fuse-blue-dark;
    &:hover {
      background: $fuse-blue-dark;
      color: white;
    }
  }
}