.icon-button {
  display: inline-block;
  background-color: $fuse-blue-light;
  padding: .5rem 1rem;
  font-size: .8rem;
  // border: solid 3px white;

  // width: 160px;
  text-align: center;

  transition: all 0.2s ease-out;

  &-container {
    display: flex;
    align-items: center;
  }

  &-text {
    margin-left: 0.5rem;
  }

  &:hover {
    background: white;
    color: $fuse-blue-dark;
  }

  span {
    display: inline-block;
  }
}