body {
  background: $fuse-blue-dark;
  color: $white;

  background-image: url('./images/blue-bg.svg');
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;

  height: 100vh;
}

a {
  color: $white;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}


h1 {
  font-family: 'TypefaceFourOneOT', times, sans-serif;
  font-size: 8rem;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}