body {
  background: $fuse-blue-dark;
  color: $white;

  background-image: url('./images/blue-bg.svg');
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;

  height: 100vh;
}

a {
  color: $white;
}