body {
  background: $fuse-blue-dark;
  color: $white;

  background-image: url('./images/blue-bg.svg');
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  height: 100vh;
}

a {
  color: $white;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}


h1,
h2 {
  font-family: $font-fuse;
  font-size: 8rem;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  line-height: 0.8em;
}

h2 {
  &.fuse-subtitle {
    font-family: courier, monospace;
    line-height: 1.2em;
    font-size: .8rem;

    @media screen and (min-width: 767px) {
      font-size: 1.2rem;
    }
  }
}

.fuse-text {
  max-width: 540px;
  padding: 0 16px;
  margin: 2rem auto 0;
  font-size: 14px;
  text-align: justify;
}

.nowrap {
  white-space: nowrap;
}