
@font-face {
  font-family: 'TypefaceFourOneOT';
  src: url('./assets/fonts/TypefaceFourOneOT.eot?#iefix') format('embedded-opentype'),  url('./assets/fonts/TypefaceFourOneOT.otf')  format('opentype'),
	     url('./assets/fonts/TypefaceFourOneOT.woff') format('woff'), url('./assets/fonts/TypefaceFourOneOT.ttf')  format('truetype'), url('./assets/fonts/TypefaceFourOneOT.svg#TypefaceFourOneOT') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-fuse: 'TypefaceFourOneOT', sans-serif;